<%- include("partials/header.ejs") %> <%- include("partials/offcanvas.ejs") %>
<main>
  <%- include("partials/main.ejs") %> <%- include("components/dashboard.ejs") %>
</main>
<%- include("partials/footer.ejs") %>
